.buildingA{
	float: left;
	background-color: grey;
	height: 400px;
	width: 200px;
}

.street1{
	float: left;
	height: 400px;
	width: 25px;
}

.streetA{
	background-color: black;
	height: 100px;
	width: 25px;
}

#building2{
	float:left;
}

#building1{
	margin-left: 450px;
}

#button{
	height:50px;
	align-items: left;
	position: absolute;
	top: 350px;
}

#parkText{
	transform: rotate(270deg);
	margin-left:-430px;
}

#red{
	color: red;
}

#yellow{
	color: #F0E105;
}

#green{
	color: green;
}

.street2{
	height:400px;
	width:25px;
	background-color: black;
	transform:rotate(90deg);
	float:left;
	margin-top:210px;
	margin-left:-37px;
}

.streetB{
	background-color: black;
	height: 100px;
	width: 25px;
}

#buildText{
	margin-left:30px;
	margin-top:150px;
}

#park{
	height:800px;
	width:300px;
	background-color: #05F019;
	transform:rotate(90deg);
	margin-left: 500px;
	margin-top:192px;
}

#buildText2{
	margin-left:30px;
	margin-top: 150px;
}